<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dice Game - Creat Player</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
	<div class="index-container">
	    <div class="container">
	        <div class="logo">Dice Game</div>
	        <h1>Crear Jugador</h1>
	        <form th:action="@{/players/create-player}" method="post">
	            <div class="form-group">
	                <input type="text" id="playerName" name="playerName" placeholder="NOM DE JUGADOR" required>
	                <label for="playerName">NOM DE JUGADOR</label>
	            	<button class="submit-button" type="submit">></button>
	            </div>
	            <div th:if="${error}" class="error-message">
	        		<p th:text="${error}"></p>
	    		</div>
	        </form>
	        <hr class="divider">
	        <div class="form-group">
	        	<a th:href="@{/players/player-login}" class="tornar-button">Tornar</a>
	    	</div>
	    </div>
    </div>
</body>
</html>