<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dice Game - Player</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
	<div class="header">
    	<a class="user" href="#" onclick="toggleMenu()">
			<span>• <span th:text="${currentPlayer.username}"></span></span>
    	</a>
    	<div id="menu" class="menu">
        	<a href="/dicegame/playeLogin">Tancar sessió</a>
    	</div>
    </div>
    <div class="player-container">
        <div class="left-panel">
        	<div class="left-container ranking-container">
	        	<h3>Ranking</h3>
                <p th:if="${ranking.size() > 0}" th:each="playerDTO : ${ranking}" th:class="${playerDTO.username eq currentPlayer.username} ? 'current-player' : ''">
                	<span th:text="${playerDTO.username}"></span>
                	<span th:text="${' - ' + #numbers.formatDecimal(playerDTO.winPercentage, 1,2,'COMMA') + '%'}"></span>
                </p>
	            <p th:unless="${ranking.size() > 0}">---</p>
            </div>
            <div class="left-container">
                <h3>Winner</h3>
                <p th:if="${ranking.size() > 0}" th:class="${winnerPlayer.username eq currentPlayer.username} ? 'current-player' : ''">
                	<span th:text="${winnerPlayer.username}"></span>
                	<span th:text="${' - ' + #numbers.formatDecimal(winnerPlayer.winPercentage, 1,2,'COMMA') + '%'}"></span>
                </p>
                <p th:unless="${ranking.size() > 0}">---</p>
            </div>
            <div class="left-container">
                <h3>Loser</h3>
                <p th:if="${ranking.size() > 0}" th:class="${loserPlayer.username eq currentPlayer.username} ? 'current-player' : ''">
                	<span th:text="${loserPlayer.username}"></span>
                	<span th:text="${' - ' + #numbers.formatDecimal(loserPlayer.winPercentage, 1,2,'COMMA') + '%'}"></span>
                </p>
                <p th:unless="${ranking.size() > 0}">---</p>
           	</div>
        </div>
        <div class="center-panel">
        	<div class="logo-player">Dice Game</div>
        	<div class="dices">
        		<div class="dice">
        			<p id="dice1">1</p>
        		</div>
        		<div class="dice">
        			<p id="dice2">1</p>
        		</div>
        	</div>
        	<form id="rollForm" th:action="@{/dicegame/createGame}" method="post">
        		<input type="hidden" id="dicesValues" name="dicesValues" value="1,1">
        		<input type="hidden" id="won" name="won" value="false">
        		<button class="roll-button" onclick="rollDices()" type="button">Tirar</button>
    		</form>
        </div>
        <div class="right-panel">
            <div class="right-container">
                <h3>Tirades</h3>
                <p th:if="${allGames.size() > 0}" th:each="game : ${allGames}">
                	<span th:text="${game.dicesValues}"></span>
                	<span class="won" th:if="${game.won == true}"> - Guanyada</span>
                	<span class="loss" th:unless="${game.won == true}"> - Perduda</span>
            	</p>
                <p th:unless="${allGames.size() > 0}">---</p>
            </div>
        </div>
    </div>
    <script>
	    function toggleMenu() {
	        var menu = document.getElementById("menu");
	        if (menu.style.display === "block") {
	            menu.style.display = "none";
	        } else {
	            menu.style.display = "block";
	        }
	    }
		
		function rollDices() {
		    var dice1Value = Math.floor(Math.random() * 6) + 1;
		    var dice2Value = Math.floor(Math.random() * 6) + 1;
		
		    document.getElementById("dice1").innerText = dice1Value;
		    document.getElementById("dice2").innerText = dice2Value;
		    
		    document.getElementById("dicesValues").value = dice1Value + "," + dice2Value;
		    
		    localStorage.setItem("dice1Value", dice1Value);
    		localStorage.setItem("dice2Value", dice2Value);
		    
		    document.getElementById("rollForm").submit();
		}
		
		window.onload = function () {
		    var dice1Value = localStorage.getItem("dice1Value");
		    var dice2Value = localStorage.getItem("dice2Value");

		    if (dice1Value && dice2Value) {
		        document.getElementById("dice1").innerText = dice1Value;
		        document.getElementById("dice2").innerText = dice2Value;
		    }
		};
	</script>
</body>
</html>