<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sucursal Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container my-2">
        <h2>
        	<span th:text="${sucursal.nomSucursal}" th:remove="tag">Sucursal</span>
        </h2>
        <hr>
        <b>ID: </b><text th:text="${sucursal.pk_SucursalID}"></text></br>
        <b>NOM: </b><text th:text="${sucursal.nomSucursal}"></text></br>
        <b>PAÍS: </b><text th:text="${sucursal.paisSucursal}"></text></br>
        <b>TIPUS: </b><text th:text="${sucursal.tipusSucursal}"></text></br>
        <hr>
        <a th:href="@{/sucursal/getAll}"> Tornar a Llista de Sucursals</a>
    </div>
</body>
</html>